<div ng-controller="ReadVesselCtrl as readVessel">
    <div>
        <div class="form-group">
            <h3>
                Vessels
                <a ng-href="/#/vessels/create" class="btn btn-primary pull-right" id="btn_vessel_create">Add Vessel</a>
            </h3>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter vessels...">
            <hr>
        </div>

        <table id="vessel_list" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Width [m]</th>
                <th class="text-right">Length [m]</th>
                <th class="text-right">Draft [m]</th>
                <th class="text-right">Latitude [°]</th>
                <th class="text-right">Longitude [°]</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vessel in readVessel.vessels | filter:searchText">
                <td>
                    {{ vessel.name }}
                </td>
                <td class="text-right">
                    {{ vessel.width | number:2}}
                </td>
                <td class="text-right">
                    {{ vessel.length | number:2 }}
                </td>
                <td class="text-right">
                    {{ vessel.draft | number:2 }}
                </td>
                <td class="text-right">
                    {{ vessel.latitude | number:4 }}
                </td>
                <td class="text-right">
                    {{ vessel.longitude | number:4 }}
                </td>
                <td>
                    <a ng-href="/#/vessels/edit/{{vessel.name}}" class="btn btn-success pull-right" id="btn_vessel_update">Edit Vessel</a>
                </td>
            </tr>
            <tr ng-hide="readVessel.vessels.length">
                <td colspan="6">
                    <p class="text-center">No vessels found</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
